venv
__pycache__
*.pyc
*.pyo

.idea/
.vscode/
.history
.DS_Store

*.db
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

__pycache__/


*.log

.env

storage/*
log/*

!log/.gitkeep


!storage/.gitkeep

!.vscode/launch.json